.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  margin: 5rem auto;
}
.middle {
  display: flex;
}
.footer {
  display: flex;
  justify-content: space-around ;
}